@import "@/variables";

.stats {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    &__host {
      background-color: $quaternary;
      margin-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      border-radius: 4rem;
      border-style: solid;
      border-width: 1px;
      transition: border-color 0.2s;
      border-color: $primary;

      &:hover {
        border-color: $accent;
        cursor: pointer;
        border-width: 2px;
      }
    }
  }

  &__charts {
    display: grid;
    gap: 3rem;
    margin: 2rem;
    width: 90%;
    max-width: 1600px;
    // max-height: 1000px;
    margin-bottom: 2rem;

    &--small {
      @extend .stats__charts;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      @media (max-width: $md) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 200px);
        width: 80%;
        margin: 0;
        gap: 1rem;
      }
    }

    &--big {
      @extend .stats__charts;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      @media (max-width: $md) {
        grid-template-columns: 100%;
        width: 80%;
        margin: 0;
        gap: 1rem;
      }
    }
  }
}
