@import "@/variables.scss";

.config {
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-template-columns: 4fr 5fr;
  width: 100vw;
  background-color: $tertiary;

  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }

  &__new-btn {
    margin-top: 20px;
    background-color: $accent;
  }

  h1 {
    margin-top: 30px;
    text-align: center;
  }

  &__footer {
    max-width: 1250px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin: auto;
  }
}

@mixin corner-curve($px) {
  border-top-left-radius: $px;
  border-top-right-radius: $px;
  border-bottom-left-radius: $px;
  border-bottom-right-radius: $px;
}

.header {
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;

  h2 {
    display: inline;
    position: relative;
  }

  &__heading--left {
    margin-left: 120px;
  }

  &__heading--right {
    margin-right: 90px;
  }
}

@media (max-width: 768px) {
  .header {
    gap: 100px;
    margin-left: -40px;
  }
}

.accordion {
  @include corner-curve(15px);
  color: white;
  background-color: $quaternary;
  max-width: 1250px;
  width: 100%;
  justify-content: center;
}
