@import "@/variables.scss";

@mixin corner-curve($px) {
    border-top-left-radius: $px;
    border-top-right-radius: $px;
    border-bottom-left-radius: $px;
    border-bottom-right-radius: $px;
}

.target-header {
    position: relative;
    left: 2%;
}

.targets {
    @include corner-curve(15px);
    height: 290px;
    background-color: $tertiary;
    padding-bottom: 2%;
    position: relative;

    &__entry {
        @include corner-curve(15px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid;
        border-color: $primary;
        background-color: $quaternary;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
        height: 30px;
        
        &__host {
            width: 100px;
        }
        
        span {
            margin-right: 15px;
        }
        
        &__port {
            margin-top: 2px;
            width: 60px;
            margin-right: 28px;
        }

        svg {
            display: inline-block;
            cursor: pointer;
            flex-shrink: 0;
        }
    }

    &__add-btn {
        color: $accent;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: -2%;
        background-color: transparent;
        font-size: 30px;
        border: none;
    }

    &__status-indicator {
        display: inline-block;
        background-color: green;
        margin-bottom: 10px;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.5px;
        border-color: black;
        height: 25px;
        width: 25px;
        flex-shrink: 0;
    }

    &__container {
        max-height: 250px;
        overflow: scroll;
    }

    input {
        background-color: $quaternary;
        border: none;
        outline: none;
    }

    p {
        display: inline-block;
    }
}