@import "@/variables.scss";

.request-details {
  height: 700px;
  width: 900px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;

  @media (max-width: $md) {
    width: 300px;
    height: 600px;
    margin: auto;
  }

  &__header {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__subheader {
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__tab {
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
    transition: 0.3s;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;

    &:hover {
      border-color: $accent;
    }

    &--selected {
      background-color: $accent;
      color: white;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: $md) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__infos {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__basic-info {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: $tertiary;

    * {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-width: 0 0 1px 0;
      border-bottom: 1px;
      border-style: solid;
      border-color: $tertiary;
      padding: 0.5rem;
    }
  }

  &__bodies {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__body {
    width: 95%;
    flex-grow: 1;
    height: 300px;
    background-color: $quaternary;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;

    @media (max-width: $md) {
      padding: 0.5rem;
    }
  }
}
